.display {
    margin: 10px;
    width: 170px;
    font-size: 25px;  
    font-family: 'Orbitron';
    background-color: rgba(226, 212, 21, 0.767);
}

@media (max-width: 600px) {
    .display {
      width: 97%; 
      height: 55px;
      margin: 10px auto; 
      font-size: 45px; 
    }
  }
  
